* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 40px;
}

body {
  background-image: url(bgbg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}


/* navbar */
.navbar {
  height: 55px;
  background: rgba(21, 15, 188, 0.546);
  position: sticky;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: 999;
}

.navbar ul {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  padding-inline: 10px;
  font-size: 17px;
  margin-left: auto;
  height: 40px;
}

.navbar ul li:first-child {
  margin-right: 50%;
}

.contact-btn {
  font-size: 18px;
  padding-inline: 15px;
  padding-block: 3px;
  border: none;
  color: rgb(253, 253, 253);
  background-color: rgba(70, 13, 186, 0.839);
  border: 1px solid white;
  border-radius: 20px;
}

/* main box */

.box {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main-text {
  /* width: 30%; */
  padding: 0px;
  text-align: justify;
  line-height: 1.8;

}

.main-image img {
  position: relative;
  height: 540px;
}


.page-2 {
    /* height: 100vh; */
    z-index: 2;
    /* overflow: hidden; */
    margin-inline: 8%;
    padding-bottom: 70px;
}

.page-2 ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

.page-2 ul li {
  padding-top: 150px;
  text-align: center;
}

.card-image {
  /* position: relative; */
  display: inline-block;
  overflow: hidden;
  border-radius: 5%;
  opacity: 1;
  box-shadow: 0 0 2px rgb(131, 131, 131);
  transition: all 0.5s;
  height: 230px;
  width: 230px;
  display: block;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards p {
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
  color: rgb(232, 228, 255);
}

.card-image:hover {
  box-shadow: 2px 2px 2px rgba(214, 214, 214, 0.687);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 5%;
  /* filter: invert(0.2); */
}

.card-image:hover .card-text {
  transform: translateY(10px);
}

.card-image.card1 {
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.75), rgba(101, 15, 188, 0.546)), url('falling-sand.png');
  background-size: contain;
}

.card-image.card2 {
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.75), rgba(101, 15, 188, 0.546)), url('clock.png');
  background-size: contain;
}

.card-image.card3 {
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.75), rgba(89, 5, 173, 0.426)), url('wordle.png');
  background-size: contain;
}

.card-image.card4 {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(89, 5, 173, 0.426)), url('parallax.png');
  background-size: contain;
}

.card-image.card5 {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(89, 5, 173, 0.426)), url('task-tracker.png');
  background-size: contain;
}

.page-end1 {
  margin-inline: auto;
  width: 70%;
  height: 6px;
  background-color: #bc98ff40;
  margin-bottom: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.page-end2 {
  margin-inline: auto;
  width: 80%;
  height: 12px;
  background-color: #bc98ff60;
  margin-bottom: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.page-end3 {
  margin-inline: auto;
  width: 90%;
  height: 18px;
  background-color: #bc98ff80;
  margin-bottom: 10px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

/* footer */
footer {
  width: 100%;
  height: 110px;
  background: linear-gradient(to bottom, #bc98ff96, #ffffff);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
}

.foot1 {
  margin: 10px;
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.foot p{
  color: rgb(81, 28, 130);
  font-size: 19px;
}

.foot2 {
  margin: 10px;
  padding: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: justify;
}