* {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 40px;
}

body {
  background-image: url(bgbg.png);
}


/* navbar */
.navbar {
  height: 55px;
  background: rgba(255, 255, 255, 0.677);
}

.navbar ul {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  padding-inline: 10px;
  font-size: 17px;
  margin-left: auto;
  height: 40px;
}

.navbar ul li:hover {
  text-decoration: underline;
}

.navbar ul li:first-child {
  width: 50%;
}

/* main box */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  max-width: 50%;
  padding: 60px;
  text-align: justify;
  line-height: 1.8;
}

.main-image img {
  height: 675px;
}


.page-2 {
    height: 100vh;
    width: 100%;
    background-color: blue;
    z-index: 2;
    overflow: hidden;
    margin-top: -4px;
}